* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans CJK JP";
    color: #333;
    line-height: 2;
    font-size: 15px;
}

h1 , h2 , ul {
    font-family:'Bitter', serif;
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

#about {
    background-image: url(images/bg-about.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}
.wrapper {
    background-color: #fff;
   margin-top: 220px;
   padding: 35px 0;
}
.container {
    width: 940px;
    margin: 0 auto;
}



/*#header*/

#header {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center;
}

#header .site-title {
     padding-bottom: 13px;
}

#header ul {
    display: flex;

}

#header li {
    margin: 20px;
    font-size: 20px;
    line-height: 2;
    
}

/*main*/

#section h1 {
    font-size: 36px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;

}

#section .section-title { 
    font-size: 24px;
    margin-bottom: 20px;
}

#section .section-title::before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid rgb(156,180,164);
}

#section p {
    margin-bottom: 15px;
}

#section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

}

tr {
    display: flex;
    flex-wrap: wrap;
}

th {
    width: 27%;
    padding: 12px 0 ;
    background-color: #f0f0f0;
}

td {
    width: 67%;
    padding: 12px 0 12px 40px;
}

th , td {
    border: 1px solid #cccccc;
}


/*footer*/

#footer {
    background-color: #767671;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 30px;
}

